body, html {
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
}

.site-header a {
    text-decoration: none;
}
.site-header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em 2em;
    border-bottom: 1px solid black;
}
.site-header .site-title {
    font-size: 1.4em;
    font-weight: lighter;
}
.site-header nav {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.site-header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
}
.site-header nav ul li {
    margin: 0 0 0 1em;
}

main {
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
    font-family: serif;
}

footer {
    text-align: center;
}
footer p {
    margin: 0.3em;
}

a {
    color: #c00;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
