:root {
    --color: #000;
    --bg-color: #fff;
    --dark-color: #ccc;
    --dark-bg-color: #222;
}

body {
    margin: 0;
    font-family: sans-serif;

    color: var(--color);
    background-color: var(--bg-color);
}
body.dark {
    color: var(--dark-color);
    background-color: var(--dark-bg-color);
}

.site-header a {
    text-decoration: none;
}
.site-header .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em 2em;
    border-bottom: 1px solid var(--color);
}
.dark .site-header .header-content {
    border-bottom: 1px solid var(--dark-color);
}
.site-header .header-left {
    display: flex;
    align-items: center;
}
.site-header .header-right {
    display: flex;
    align-items: center;
}
.site-header .site-title {
    font-size: 1.4em;
    font-weight: lighter;
}
.site-header .site-title a {
    color: var(--color);
}
.dark .site-header .site-title a {
    color: var(--dark-color);
}
.site-header nav {
    font-size: 1.2em;
}
.site-header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
}
.site-header nav ul li {
    margin: 0 0 0 1em;
}

main {
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
    font-family: serif;
}

footer {
    text-align: center;
}
footer p {
    margin: 0.3em;
}

a {
    color: #c00;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
