{% extends "base.html" %}
{% block body %}
<article>
    <header>
        <h1>{{ title }}</h1>
        {% if date %}
        <p class="date">{{ date }}</p>
        {% endif %}
        {% if author %}
        <p class="author">{{ author }}</p>
        {% endif %}
        <p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ title }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
    </header>
    <section class="body">
        {{ _body | safe }}
    </section>
</article>
{% endblock body %}
